**/target/
**/.env
**/Cargo.lock

#s3 utils that are unneeded in the repo
services/*/

#jetbrains config
.idea/


# ignore as to not upload sensitive data to any repos, store locally with backups
data/
backups/
store/

#previous versions specific stuff that could be useful
.deprecated/



.DS_Store

.schema